{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% load humanize %}
{% block content %}
<!-- Your content -->
<div class="w-full h-[87vh] bg-gray-900 overflow-auto mb-4">
  <div class="bg-gray-900">
    <div class="mx-auto w-full border-b-g">
      <div class="grid grid-cols-1 gap-px bg-white/5 sm:grid-cols-2 lg:grid-cols-4">
        <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-400">Revenue</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">KSH {{ total_amount | floatformat:2|intcomma }}</span>
          </p>
        </div>
        <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-400">Number of Invoices</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">{{ total_invoices|intcomma}}</span>
          </p>
        </div>
        <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-400">Total Unpaid Invoices</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">{{ total_unpaid_invoices |intcomma }}</span>
          </p>
        </div>
        <div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
          <p class="text-sm font-medium leading-6 text-gray-400">Total Paid Invoices</p>
          <p class="mt-2 flex items-baseline gap-x-2">
            <span class="text-4xl font-semibold tracking-tight text-white">{{ total_paid_invoices |intcomma }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}