<div class="w-full bg-gray-900">
    <div class="mx-auto max-w-7xl">
        <div class="bg-gray-900 py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="sm:flex sm:items-center">
                    <div class="sm:flex-auto">
                        <h1 class="text-base font-semibold leading-6 text-white">Invoice List</h1>
                    </div>
                    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                        <button type="button"
                            class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add
                            invoice</button>
                    </div>
                </div>
                <div class="mt-8 flow-root">
                    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <table class="min-w-full divide-y divide-gray-700">
                                <thead>
                                    <tr>
                                        <th scope="col"
                                            class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">
                                            #</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Client Name</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Billing Address</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Invoice Date</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Due Date</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Amount Due</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Status</th>
                                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">
                                            Actions</th>
                                        <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                                            <span class="sr-only">Edit</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="divide-y divide-gray-800">
                                    {% for invoice in invoice %}
                                    <tr>
                                        <td
                                            class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-0">
                                            {{ invoice.id }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">Front-end
                                            {{ invoice.client_name }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">
                                            {{ invoice.billing_address }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">
                                            {{ invoice.created_at | date:"DATE_FORMAT" }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">
                                            {{ invoice.due_date | date:"DATE_FORMAT" }}</td>
                                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">
                                            {{ invoice.total_cost | floatformat:2|intcomma }}</td>
                                        <!--
                                            <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">
                                            {{ invoice.paid|yesno:"Paid,Unpaid" }}</td>
                                        -->
                                        <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                                            <span
                                                class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">{{ invoice.paid|yesno:"Paid,Unpaid" }}</span>
                                        </td>
                                        <td
                                            class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                            <a href="{% url 'invoicing_app:invoice_detail' invoice.id %}"
                                                class="text-indigo-400 hover:text-indigo-300">View</a>
                                        </td>
                                        <td
                                            class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                            <a href="{% url 'invoicing_app:edit_invoice' invoice.id %}"
                                                class="text-indigo-400 hover:text-indigo-300">Edit</a>
                                        </td>
                                        <td
                                            class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                            <form action="{% url 'invoicing_app:delete_invoice' invoice.id %}"
                                                method="post" id="delete-form-{{ invoice.id }}" class="inline">
                                                {% csrf_token %}
                                                <a href="#" class="text-indigo-400 hover:text-indigo-300"
                                                    onclick="event.preventDefault(); document.getElementById('delete-form-{{ invoice.id }}').submit();">
                                                    Delete
                                                </a>
                                            </form>
                                        </td>
                                        <td
                                            class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                            <a href="{% url 'invoicing_app:generate_invoice_pdf' invoice.id %}"
                                                class="text-indigo-400 hover:text-indigo-300">Download</a>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                    <!-- More people... -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>