{% extends 'dash.html' %}

{% block title %}Active Clients List{% endblock %}

{% block content %}
<div class="w-full h-[88vh] bg-gray-900">
  <div class="mx-auto max-w-7xl">
    <div class="bg-gray-900 py-10">
      <div class="px-4 sm:px-6 lg:px-8">
        <div class="sm:flex sm:items-center">
          <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-blue-500">Active Clients List</h1>
            <p class="mt-2 text-sm text-gray-300">A list of all active clients in your account including their name,
                email, address and status.</p>
          </div>
          <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <a href="{% url 'invoicing_app:add_client' %}"
              class="block rounded-md bg-blue-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
              Add Client
            </a>
          </div>
        </div>
        <div id="table-container" class="mt-8 flow-root flex-1 overflow-y-auto">
          <!-- Table of Active Clients -->
          <table class="min-w-full divide-y divide-gray-600">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">client Email</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Client Address</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider">Status</th>
              </tr>
            </thead>
            <tbody class="bg-gray-800 divide-y divide-gray-700">
              {% for client in page_obj %}
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">{{ client.client_name }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">{{ client.client_email }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-300">{{ client.client_address }}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">Active</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-center text-gray-300">
                  No active clients found.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Pagination Controls -->
        <div id="pagination-controls" class="card-footer">
          <nav class="flex justify-between">
            {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}" class="px-3 py-2 bg-blue-500 text-white rounded-md">Previous</a>
            {% else %}
              <span class="px-3 py-2 bg-gray-500 text-white rounded-md">Previous</span>
            {% endif %}

            <span class="text-white">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}" class="px-3 py-2 bg-blue-500 text-white rounded-md">Next</a>
            {% else %}
              <span class="px-3 py-2 bg-gray-500 text-white rounded-md">Next</span>
            {% endif %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
