{% extends 'base.html' %}

{% block title %}Client List{% endblock %}

{% block content %}
<div class="mx-auto max-w-7xl">
  <div class="bg-gray-900 py-10">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-base font-semibold leading-6 text-white">Clients</h1>
          <p class="mt-2 text-sm text-gray-300">A list of all the clients in your account including their name, address,
            email and status.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
          <a href="{% url 'invoicing_app:add_client' %}"
            class="block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Add
            Client</a>
        </div>
      </div>
      <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-700">
              <thead>
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-white sm:pl-0">Client
                    Name</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Client Address</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Client Email</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-white">Active Status</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">Actions</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-800">
                {% for client in clients %}
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-white sm:pl-0">{{ client.client_name }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{{ client.client_address }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{{ client.client_email }}</td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-300">{{ client.active_status }}</td>
                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                    <a href="#" class="text-indigo-400 hover:text-indigo-300">Edit<span class="sr-only">, John
                        Doe</span></a>
                    <a href="#" class="text-red-400 hover:text-red-300 ml-4">Delete<span class="sr-only">, John
                        Doe</span></a>
                    <button type="button" class="ml-4 text-yellow-400 hover:text-yellow-300">Mark as Inactive</button>
                  </td>
                </tr>
                {% endfor %}
                <!-- More clients... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}