{% extends 'invoice/index.html' %}

{% block title %}Dashboard{% endblock %}

{% block css %}
{% load static %}
    <link rel="stylesheet" href="{% static 'invoice/dashboard.css' %}?{% now 'U' %}">
{% endblock %}

{% load humanize %}
{% block content %}
<div class="container">
    <!-- Main content goes here -->
    <div class="header">
        <h1 class="h2">Overview</h1>
    </div>
    <!-- Main content goes here -->
    <div class="body">
        <section class="overview">
            <div class="dashboard-grid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Revenue:</h5>
                        <h2>KSH {{ total_amount | floatformat:2|intcomma }}</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total invoices:</h5>
                        <h2>{{ total_invoices }}</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total unpaid invoices:</h5>
                        <h2>{{ total_unpaid_invoices }}</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total paid invoices:</h5>
                        <h2>{{ total_paid_invoices }}</h2>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</main>
{% endblock %}