{% extends 'invoice/index.html' %}

{% block title %}Invoice Detail{% endblock %}

{% block extra_styles %}
<style>
    @page {
        size: A4;
        margin: 20mm;
    }

    html,
    body {
        padding-left: 250px;
        font-family: 'Arial', sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        height: 297mm;
        width: 210mm;
    }

    .header {
        padding: 10px;
        text-align: right;
        background-color: #d1dbf9;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 8px;
        display: flex;
        width: 790px;
        border: solid 3px #6C63FF;
    }

    .page_title {
        display: flex;
        text-align: left;
        color: #6C63FF;
        align-items: center;
        padding-left: 250px;
    }

    .invoice-box {
        height: 297mm;
        width: 210mm;
        background-color: #fff;
        padding: 20mm;
        margin: 20px auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }

    .invoice-box h1 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .company-info,
    .invoice-to,
    .invoice-details {
        margin-bottom: 20px;
    }

    .company-info p {
        margin: 0;
        line-height: 1.6;
        text-align: right;
        vertical-align: text-bottom;
    }

    .company-logo img {
        justify-content: flex-end;
        height: 90px;
        margin-left: 450px;
    }

    .invoice-to p,
    .invoice-details p {
        margin: 0;
        line-height: 1.6;
    }

    .invoice-to {
        margin-top: 40px;
    }

    .invoice-details {
        text-align: right;
    }

    .status {
        padding: 5px 10px;
        border-radius: 3px;
        color: #fff;
    }


    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        line-height: inherit;
        text-align: left;
    }

    table th,
    table td {
        border: 2px solid #000000;
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }

    table th {
        background-color: #f2f2f2;
    }

    .totals {
        text-align: right;
        margin-bottom: 20px;
    }

    .terms {
        margin-top: 40px;
    }

    .terms p {
        margin: 0;
    }

    .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        font-size: 250px;
        color: rgba(0, 0, 0, 0.1);
        pointer-events: none;
        user-select: none;
        z-index: 1000;
        margin-left: 190px;
        white-space: nowrap;
    }

    .watermark.paid {
        content: 'PAID';
    }

    .watermark.unpaid {
        content: 'UNPAID';
    }
</style>
{% endblock %}

{% load humanize %}
{% block content %}
<div class="header">
    <div class="page_title">
        <h1>Invoice Details</h1>
    </div>
</div>
<div class="invoice-box">
    <!-- Logic for watermark -->
    {% if invoice.paid %}
    <div class="watermark paid">PAID</div>
    {% else %}
    <div class="watermark unpaid">UNPAID</div>
    {% endif %}
    <h1>INVOICE # {{ invoice.id }}</h1>
    <div class="company-logo">
        {% load static %}
        <img src="{% static 'invoice/creative-junk logo.jpg'%}"><br>
    </div>
    <div class="company-info">
        <p><strong>Creative Junk Ltd</strong></p>
        <p>3rd Floor, College House</p>
        <p>Koinange Street / University Way</p>
        <p>Nairobi, Kenya</p>
    </div>
    <div class="invoice-to">
        <p><strong>Invoiced To</strong></p>
        <p>{{ invoice.company_name }}</p>
        <p>ATTN: {{ invoice.client_name }}</p>
        <p>{{ invoice.billing_address }}</p>
    </div>
    <div class="invoice-details">
        <p><strong>INVOICE #{{ invoice.id }}</strong></p>
        <p>Status: <strong>{{invoice.paid|yesno:"Paid,Unpaid" }}</strong></span></p>
        <p>Invoice Date: <strong>{{ invoice.created_at|date:"DATE_FORMAT" }}</strong></p>
        <p>Due Date: <strong>{{ invoice.due_date|date:"DATE_FORMAT" }}</strong></p>
        <p>Amount Due: <strong>Ksh {{ invoice.total_cost | floatformat:2|intcomma }}</strong></p>
    </div>
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ invoice.item_description }}</td>
                <td>Ksh {{ invoice.item_price | floatformat:2|intcomma }}</td>
                <!-- To display figures in currency format -->
                <td>{{ invoice.item_quantity }}</td>
                <td>Ksh {{ invoice.total_cost | floatformat:2|intcomma }}</td>
            </tr>
        </tbody>
    </table>
    <div class="totals">
        <p>Grand Total: <strong>Ksh {{ invoice.total_cost | floatformat:2|intcomma }}</strong></p>
    </div>
    <div class="terms">
        <p><strong>TERMS</strong></p>
        <p>All Payments to be made out to CREATIVE JUNK LTD</p>
    </div>
</div>
{% endblock %}