body {
    margin: 0;
    display: flex;
    background-color: #f0f0fa;
}
/* Sidebar styles */
.sidebar {
    position: fixed;
    left: 0;
    z-index: 100; /* Behind the navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    background-color: #cad5f5;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 95vh;
    overflow: hidden;
    border: solid 3px #6C63FF;
    margin: 20px;
    box-sizing: border-box;
}

.company-logo {
    padding-left: 15px;
    width: 150px;
    height: 76px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border: solid 1px #d1dbf9;
    margin-bottom: 20px;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents */
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link.active {
    color: #2b1f97;
}

.nav-link:hover {
    color: #c9302c;
}

.head {
    display: flex;
    margin-left: 340px;
    padding: 10px;
    background-color: #d1dbf9;
    color: #6C63FF;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
    position: relative;
    z-index: 1000;
    border-radius: 5px;
    border: solid 3px #6C63FF;
    margin-top: 10px;
    text-align: right;
    width: 80%;
}

.head h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    text-align: left;
    align-items: center;
}


.page-title {
    display: flex;
    text-align: left;
    align-items: center;
}

.page-title,
.logout-button {
    flex: 1;
    padding: 5px;
}

.page-title,
.form-group {
    padding: 5px;
}

.form-group {
    position: relative;
    padding: 8px 30px 8px 30px;
    outline: none;
}

.logout-button {
    text-align: center;
    padding: 10px;
}

.logout-button span {
    padding-bottom: 20px;
}

.content {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    width: calc(100% - 320px);
    box-sizing: border-box;
    margin-top: 60px;
}
.logout-form {
    margin: 0;
}
.logout-button {
    color: #fff;
    background-color: #d9534f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    height: 40px;
    width: 150px;
    margin-top: 15px;
}
.logout-button:hover {
    background-color: #c9302c;
}

